#############################
# Build
#############################

bin/
obj/

#############################
# Visual Studio / VS Code
#############################

.vs/
.vscode/

#############################
# Rider
#############################

.idea/

#############################
# User files
#############################

*.user
*.suo
*.userosscache
*.sln.docstates

#############################
# Logs
#############################

*.log

#############################
# macOS
#############################

.DS_Store

#############################
# NuGet
#############################

packages/

#############################
# Publish
#############################

publish/

#############################
# Secrets
#############################

appsettings.Development.json

#############################
# Certificates
#############################

*.pfx
*.pem
*.key

#############################
# Node
#############################

node_modules/

#############################
# Coverage
#############################

coverage/

#############################
# Local Database
#############################

*.mdf
*.ldf
*.db
*.sqlite