.tv-popup-overlay {
    position: fixed;
    inset: 0;
    z-index: 2000;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;

    background-color: rgba(0, 0, 0, 0.45);
}

.tv-popup-container {
    width: 100%;
    max-height: 90vh;

    background: #ffffff;

    border-radius: 8px;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.tv-popup-sm {
    max-width: 500px;
}

.tv-popup-md {
    max-width: 900px;
}

.tv-popup-lg {
    max-width: 1000px;
}

.tv-popup-xl {
    max-width: 1200px;
}

.tv-popup-header {
    padding: 18px 22px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tv-popup-content {
    padding: 22px;

    overflow-y: auto;
}

.tv-popup-footer {
    padding: 15px 22px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 10px;

    border-top: 1px solid #e0e0e0;
}


/* This css is for popup header background color */

.mud-dialog .mud-dialog-title {
    background-color: rgba(129, 144, 149, 0.667) !important;
    /* background-color: rgba(89, 74, 226, 1) !important; */
    padding: 5px 24px !important;
}